<footer>
    <div class="footer-content">
        <div class="office-address">
            <h4>Office Address</h4>
            <p>San Stefano 15</p>
            <p>Varna, Bulgaria</p>
        </div>
        <div class="social-media">
            <h4>Follow Us</h4>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <p>Angular Project Copyright &copy; 2024</p>
</footer>
