<h1 >Mini Game Using Redux</h1>
<div class class="game">
  <label [@fadeIn] for="guessedNumber">Enter a Number (1-10):</label>
  <input [@fadeIn] type="number" id="guessedNumber" min="1" max="10">
  <button [@fadeIn] (click)="guessNumber()" class="buton-theme-details" >Guess</button>
</div>

<div *ngIf="isWinner" class="winning">
  <div [@fadeIn] >Congratulationnnsss!! Youuu winn free photoshooting day! YEYY! <span class="emoji camera" role="img" aria-label="camera flash"></span></div>
  <label [@fadeIn] for="userName">Enter Your Name:</label>
  <input [@fadeIn] type="text" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" class="form-control" id="firstName"
    placeholder="Enter first name">
  <input [@fadeIn] type="text" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" class="form-control" id="lastName"
    placeholder="Enter last name">
  <input [@fadeIn] type="text" [(ngModel)]="telephone" [ngModelOptions]="{standalone: true}" class="form-control" id="telephone"
    placeholder="Enter telephone">
  <button [@fadeIn] (click)="registerWinner()" class="buton-theme-details">Send</button>
</div>


