/* aside  */


.aside * {
    margin: 0;
    padding: 0;
}

.aside>div {
    border: 1px solid #999;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    width: 150%;
}

.title {
    font-size: 1.5em;
    border-bottom: none;
}


.aside .aside-theme {
    margin: 1rem 0;
    padding: 0.5rem 0;
    background-color: pink;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.aside h3 {
    border-bottom: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding-left: 0.5rem;

}

.aside-theme+.aside-theme {
    border-radius: 0.3rem;
}

.aside-theme:first-child {
    border-radius: 0.3rem !important;
}

.aside-theme p {
    text-align: right;
}

.aside-theme a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .aside>div {
        width: 80% !important;
    }

    .aside-theme{
        font-size: 15px;
    }
}
